/* styling for Athena page - CSS */

body {
  background: pink;
}

.navbar-default {
  background: black;
}

.glyphicon-align-justify {
  /*color: white;*/
}

a.predicting {
  color: white;
  font-family: 'Playfair Display', serif;

}