

/* sam's style - CSS */
body {
  background: pink !important;
}


#top-hat {
  width: 95%;
}

#top-hat h2{
  font-weight: bold;
  font-size: 12px;
  color: rgb(250, 250, 250);
  transform : scale(1,1.5);
  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9+ */
  -o-transform:scale(1,1.5); /* Opera */
}

#top-hat #sgc span.whats-this {
  font-weight: bold;
  font-size: 10px;
  color: rgb(250, 250, 250);
}

#top-hat #sgc .first{
  text-decoration: none;
}

#hat-right #lockup img {
  height: 20px;
  color: rgb(250, 250, 250);
}

/*#hero::before {
  height: 150% !important;
}*/

.hero-section {
   position: relative;
   width: 100%; /* for IE 6 */
   background: blue;
}

.fpo {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

.mainbod {
  height: 100%;
  position: relative;
  width: 100%; /* for IE 6 */
}

.mainbod img {
  width: 100%;
}

.fpo h2 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: grey;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 200px;
}