
/*@media screen and (max-width: 800px) {
   body{
    background: green !important;
  }
  .predict-title {
    top: 60% !important;
  }
  #social-toggle {
    display: none !important;
  }
  #hat-right #lockup img {
    height: 15px;
    display: none;
  }
}*/

/*@media only screen and (max-width: 1200px) {
  .predict-title {
    top: 47%;
    line-height: 0.9;
    margin-left: 25%;
    width: 50%;
  }
  .predict-jumbo {
    margin-top: -90px;
  }
}*/

@media only screen and (max-width: 1100px) {
  .predict-title {
    top: 45%;
    padding-top: 3%;
    line-height: 0.8;
  }
  .predict-title h2 .predict-title-line1 {
    font-size: 4.2rem;
}
  .predict-content {
    width: 60%;
    margin-left: 20%;
  }
  .predict-jumbo {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 1000px) {
  .predict-title {
    top: 43%;
    line-height: 0.8;

  }
  .predict-title h2 .predict-title-line1 {
    font-size: 3.9rem;
    /*transform: scale(2.6,0.8);*/
  }

  .predict-title h2 .predict-title-line2 {
    font-size: 4rem;
  }
  .predict-content {
    /*margin-top: 190px;*/
  }
}

@media only screen and (max-width: 900px) {
  .predict-title {
    top: 40%;
    line-height: 0.8;
  }
  .predict-title h2 .predict-title-line1 {
    font-size: 3.6rem;
    /*transform: scale(2.6,0.8);*/
  }

  .predict-title h2 .predict-title-line2 {
    font-size: 3.9rem;
  }
  .predict-content {
    margin-top: 7%;
    width: 70%;
}

@media only screen and (max-width: 925px) {
  .predict-title h2 .predict-title-line1, .predict-title h2 .predict-title-line2 {
    font-size: 3.7rem;
  }
}

@media only screen and (max-width: 875px) {
  .predict-title h2 .predict-title-line1 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 850px) {
  .predict-title {
    top: 33%;
    width: 60%;
    margin-left: 20%;
    line-height: 0.7;
  }
}

@media only screen and (max-device-width: 800px) and (max-width: 800px) {
   body{
    background: blue;
  }
  #social-toggle {
    display: none;
  }
  #hat-right #lockup img {
    height: 15px;
    display: none;
  }
  .predict-title {
    top: 30%;
  }
  .predict-title h2 .predict-title-line1, .predict-title h2 .predict-title-line2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .predict-title {
      top: 30%;
      width: 60%;
    }
  .predict-title h2 .predict-title-line1 {
    font-size: 3.7rem;
  }
}

@media only screen and (max-width: 750px) {
  .predict-title {
    top: 30%;
    line-height: 0.5;
  }
  .predict-title h2 .predict-title-line2 {
      font-size: 3.8rem;
    }
  .predict-title h2 .predict-title-line1 {
    font-size: 3.5rem;
  }

}

@media only screen and (max-width: 700px) {
  .predict-title {
    top: 30%;
  }
  .predict-title h2 .predict-title-line1 {
    font-size: 3.1rem;
  }
.predict-title h2 .predict-title-line2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 655px) {
  .predict-title {
    top: 27%;
  }
  .predict-title h2 .predict-title-line1 {
    font-size: 3rem;
  }
.predict-title h2 .predict-title-line2 {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 575px) {
  .predict-title {
    top: 23%;
  }
  .predict-title h2 .predict-title-line1 {
    font-size: 2.7rem;
  }
.predict-title h2 .predict-title-line2 {
    font-size: 3rem;
  }
/*  .predict-title h2 .predict-title-line1, .predict-title h2 .predict-title-line2 {
    font-size: 2.5rem;
  }*/
}

@media only screen and (max-width: 550px) {
  .predict-title {
    top: 23%;
  }
  .predict-title h2 .predict-title-line1 {
    font-size: 2.4rem;
  }
.predict-title h2 .predict-title-line2 {
    font-size: 2.7rem;
  }
/*  .predict-title h2 .predict-title-line1, .predict-title h2 .predict-title-line2 {
    font-size: 2.5rem;
  }*/
}


/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  body {
    /*background: orange !important;*/
    min-width: 100% !important;
  }
  img#hero-bg {
    height: 35%;
  }
  .predict-title {
    top: 30% !important;
  }
  .predict-content {
    margin-top: 20px;
  }
  .predict-jumbo {
    height: 2000px;
  }
  .contact-photos {
    margin: 80px auto 5px 10% !important;
    width:80%;
    z-index: 99 !important;
    padding-left: 2%;
  }
  .contact-photos .img-area {
    padding-bottom: 10px;
    padding: 5px;
  }
  .img-area .smaller-fpo {
    position: absolute;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
  }
  .contact-photos img{
    width: 300px !important;
    height: 400px !important;
  }
  .img-area-person1 .smaller-fpo, .img-area-person3 .smaller-fpo{
    margin-left:-160px;
  }
  .img-area-person2 .smaller-fpo, .img-area-person4 .smaller-fpo{
    margin-left:-30px;
  }
  .img-area-person2, .img-area-person4 {
    margin-left: 50% !important;
    margin-top: -543px !important;
  }
  .img-area-person4 {
    margin-top: -565px !important;
  }
  .img-area-person5 {
    width: 300px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 10px !important;
  }
  .img-area-person5 .smaller-fpo{
    margin-left: -50px;
    font-size: 25px;
  }
  .img-descr {
    padding-left: 5%;
    padding-top: 5px;
  }
  .btn-area {
    margin-top: 10px !important;
  }
  .quote-wrapper {
    padding-top: 40px;
  }
  .quote-wrapper .quote {
    font-size: 17px;
  }
  .quote-wrapper img.second{
    margin-top: -70px;
    display: none;
  }
  .more-athena {
  width: 60%;
  margin: 0;
  margin-left: 20%;
  margin-right: auto;
  text-align: center;
  }
  .more-athena h1 {
    font-size: 20px !important
  }
  .img-area {
    margin-left: auto;
    margin-right: auto;
  }
  .img-section {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }
  .img-section img{
    height: 300px !important;
    width: 300px !important;
    margin-right: auto;
    /*margin-left: auto;*/
    margin-left: 25%;
  }
  .more-athena-imgs {
    padding-top: 10px;
  }
  .img-legend {
    width: 300px !important;
    margin-left: 30%;
    margin-top: 10px;
    padding: 0;
  }
  .img-legend .first {
    font-size: 20px !important;
    margin-bottom:-3px;
  }
  .img-legend .second {
    font-size: 18px !important;
  }
  .img-legend .third {
    font-size: 15px !important;
  }
  .white-jumbo {
    height: 1800px !important;
  }
  footer {
    clear:both ;
  }
  footer .footer-predict {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3px;
  }

  footer .footer-links {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}








@media only screen and (min-device-width: 312px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    min-width: 100% !important;
  }
  img#hero-bg {
    height: 35%;
  }
  .predict-title {
    top: 20%;
    height: 10%;
  }
  .predict-content {
    margin-top: 30px;
  }
  .predict-jumbo {
    height: 1500px;
  }
  .predict-jumbo .contact-photos .img-area .smaller-fpo {
    position: absolute;
    margin-left: 16%;
    margin-top: -200px;
    left: 0;
    text-align: center;
    font-size: 50px;
    /*visibility: hidden;*/
  }
  .contact-photos {
    margin: 400px auto 5px auto !important;
    width:80%;
    z-index: 99 !important;
    padding-left: 10%;
  }
  .contact-photos .img-area {
    padding-bottom: 10px;
  }
  .contact-photos img{
    width: 300px !important;
    height: 300px !important;
  }
  .img-area-person2, .img-area-person4 {
    margin-left: 50% !important;
    margin-top: -385px !important;
  }
  .img-area-person5 {
    width: 300px !important;
    margin-right: auto !important;
    margin-left: 200px !important;
    margin-top: 10px !important;
  }
  .img-descr {
    padding-left: 5%;
    padding-top: 5px;
  }
  .quote-wrapper {
    padding-top: 40px;
  }
  .quote-wrapper img.second{
    margin-top: -70px;
    display: none;
  }
  .more-athena {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
  }
  .more-athena h1 {
    font-size: 30px !important
  }
  .img-area {
    margin-left: auto;
    margin-right: auto;
  }
  .img-section {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }
  .img-section img{
    height: 300px !important;
    width: 300px !important;
    margin-right: auto;
    margin-left: 30%;
  }
  .more-athena-imgs {
    padding-top: 10px;
  }
  .img-legend {
    width: 300px !important;
    margin-left: 30%;
    margin-top: 10px;
    padding: 0;
  }
  .img-legend .first {
    font-size: 20px !important;
    margin-bottom:-3px;
  }
  .img-legend .second {
    font-size: 18px !important;
  }
  .img-legend .third {
    font-size: 15px !important;
  }
  .white-jumbo {
    height: 1800px !important;
  }
  footer {
    clear:both ;
  }
  footer .footer-predict {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3px;
  }

  footer .footer-links {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-device-width: 212px) and (max-device-width: 322px){
  .img-section img{
    height: 300px !important;
    width: 300px !important;
    margin-right: auto;
    margin-left: 30%;
  }
  .more-athena-imgs {
    padding-top: 10px;
  }
  .img-legend {
    width: 300px !important;
    margin-left: 30%;
    margin-top: 10px;
    padding: 0;
  }
}