@media only screen and (min-device-width: 750px) and (max-device-width: 770px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background: orange !important;
  }
}

@media only screen and (min-device-width: 312px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    min-width: 100% !important;
  }
  img#hero-bg {
    height: 35%;
  }
  .predict-title {
    top: 20%;
    height: 10%;
  }
  .predict-content {
    margin-top: 30px;
  }
  .predict-jumbo {
    height: 1500px;
  }
  .predict-jumbo .contact-photos .img-area .smaller-fpo {
    position: absolute;
    margin-left: 16%;
    margin-top: -200px;
    left: 0;
    text-align: center;
    font-size: 50px;

    visibility: hidden;
  }
  .contact-photos {
    margin: 400px auto 5px auto !important;
    width:80%;
    z-index: 99 !important;
    padding-left: 10%;
  }
  .contact-photos .img-area {
    padding-bottom: 10px;
  }
  .contact-photos img{
    width: 300px !important;
    height: 300px !important;
  }
  .img-area-person2, .img-area-person4 {
    margin-left: 50% !important;
    margin-top: -385px !important;
  }
  .img-area-person5 {
    width: 300px !important;
    margin-right: auto !important;
    margin-left: 200px !important;
    margin-top: 10px !important;
  }
  .img-descr {
    padding-left: 5%;
    padding-top: 5px;
  }
  .quote-wrapper {
    padding-top: 40px;
  }
  .quote-wrapper img.second{
    margin-top: -70px;
    display: none;
  }
  .more-athena {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
  }
  .more-athena h1 {
    font-size: 30px !important
  }
  .img-area {
    margin-left: auto;
    margin-right: auto;
  }
  .img-section {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }
    .img-section img{
    height: 300px !important;
    width: 300px !important;
    margin-right: auto;
    margin-left: 30%;
  }
  .more-athena-imgs {
    padding-top: 10px;
  }
  .img-legend {
    width: 300px !important;
    margin-left: 30%;
    margin-top: 10px;
    padding: 0;
  }
  .img-legend .first {
    font-size: 20px !important;
    margin-bottom:-3px;
  }
  .img-legend .second {
    font-size: 18px !important;
  }
  .img-legend .third {
    font-size: 15px !important;
  }
  .white-jumbo {
    height: 1800px !important;
  }
  footer {
    clear:both ;
  }
  footer .footer-predict {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3px;
  }

  footer .footer-links {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-device-width: 212px) and (max-device-width: 322px){
  .img-section img{
    height: 300px !important;
    width: 300px !important;
    margin-right: auto;
    margin-left: 30%;
  }
  .more-athena-imgs {
    padding-top: 10px;
  }
  .img-legend {
    width: 300px !important;
    margin-left: 30%;
    margin-top: 10px;
    padding: 0;
  }
}