
/* smaller screen, tablet  */

@media screen and (max-width: 980px){
 .quote-wrapper .quote {
    font-size: 23px !important;
  }
  #sgc {
    display: none;
  }
  .username {
    margin-left: 80%;
  }
}

@media screen and (max-width: 920px){
  .quote-wrapper .quote {
    font-size: 20px !important;
  }
  .white-jumbo {
    height: 440px;
  }
  .white-jumbo .more-athena-imgs .img-section {
    padding: 1%;
  }
}

@media (min-width: 425px) and (max-width: 920px){
  .white-jumbo .more-athena-imgs {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px){
  .predict-title h2 .predict-title-line1, .predict-title h2 .predict-title-line2 {
    font-size: 4rem;
  }
  .username {
    margin-left: 78%;
  }
}

@media screen and (max-width: 775px){
  #social-toggle {
    display: none;
  }
  #hat-right #lockup img {
    height: 15px;
    display: none;
  }
  .username {
    margin-left: 75%;
  }
  .predict-content {
    width: 70%;
    margin-left: 15%;
  }

}

@media screen and (max-width: 750px){
  .grey-set, .white-set {
    height: 700px;
  }
 .quote-wrapper .quote {
    font-size: 15px !important;
  }
   .predict-title h2 {
    font-size: 4rem;
  }
}


@media screen (min-width: 700px) and (max-width: 970px){
  .name-quote-ref {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px){
  .grey-set, .white-set {
    height: 550px !important;
  }
}

@media screen and (max-width: 665px){
  .username {
    margin-left: 72%;
  }
  .predict-title h2 .predict-title-line1, .predict-title h2 .predict-title-line2, .predict-title h2 {
    font-size: 3rem;
  }
  .grey-set, .white-set {
    height: 600px !important;
  }
  .predict-content {
    margin-top: -60px;
  }
 .quote-wrapper {
    margin-bottom: 50px;
  }
  .quote-ref {
    margin-top: 100px !important;
  }
}

@media screen and (max-width: 600px){
  .username {
    margin-left: 69%;
  }
  .white-jumbo {
      height: 600px;
    }
  footer .footer-note {
    width: 80%;
  }
}

@media screen and (max-width: 560px){
  .quote-wrapper .quote {
      font-size: 20px !important;
    }
}

@media screen and (max-width: 518px){
  .username {
    margin-left: 65%;
  }
   .quote-wrapper {
    padding-bottom: 120px;
  }
}