


/* smaller screen, tablet  */

@media screen and (max-width: 980px){
  #sgc {
    display: none;
  }
}

@media screen and (max-width: 920px){
  .white-jumbo {
    height: 440px;
  }
  .white-jumbo .more-athena-imgs .img-section {
    padding: 1%;
  }
}

@media (min-width: 425px) and (max-width: 920px){
  .white-jumbo .more-athena-imgs {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 775px){
  #social-toggle {
    display: none;
  }
  #hat-right #lockup img {
    height: 15px;
    display: none;
  }
}

@media screen and (max-width: 750px){
 .quote-wrapper .quote {
    font-size: 25px !important;
  }
  .predict .predict-title h2 {
    font-size: 4rem;
  }
}


@media screen (min-width: 700px) and (max-width: 970px){
  .name-quote-ref {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px){
  .grey-set, .white-set {
    height: 550px !important;
  }
}

@media screen and (max-width: 665px){
  .grey-set, .white-set {
    height: 600px !important;
  }
  .predict .predict-title h2 {
    font-size: 3rem;
  }
  .predict .predict-content {
    margin-top: -60px;
  }
 .quote-wrapper {
    margin-bottom: 50px;
  }
  .quote-ref {
    margin-top: 100px !important;
  }
}

@media screen and (max-width: 600px){
  .white-jumbo {
      height: 600px;
    }
  footer .footer-note {
    width: 80%;
  }
}

@media screen and (max-width: 560px){
  .quote-wrapper .quote {
      font-size: 20px !important;
    }
}

@media screen and (max-width: 518px){
   .quote-wrapper {
    padding-bottom: 120px;
  }
}



/* mobile */

@media screen and (max-width: 425px){
  .hamburger-menu {
    width: 100%;
    height: 240px;
  }
  .hamburger-menu ol li {
    padding-bottom: 1%;
    font-size: 13px;
    font-weight: normal;
    padding-top: 0;
  }
  #top-hat h2 {
  font-size: 50%;
}
  .mainbod img {
    height: 300px;
  }
  .fpo h2 {
    font-size: 8rem;
  }
  .predict .predict-title {
    margin-top: -200px;
    margin-left: -10%;
    }
  .predict .predict-title h2 {
    font-size: 2rem;
  }
  .predict .predict-content {
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: bold;
    margin-top: 480px;
  }

  .predict-jumbo .contact-photos {
    margin-top: -300px;
    flex-flow: row wrap;
  }
  .predict-jumbo .contact-photos .img-area {
    padding: 5px;
  }
  .predict-jumbo .contact-photos img {
    margin-top: 10px;
    height: 150px;
    width: 150px;
  }
  .predict-jumbo .contact-photos .first-row {
    margin-top: 0px;
    margin-left: 8%;
    order: 2;
  }
  .predict-jumbo .contact-photos .second-row {
    order: 1;
    margin-top: 400px;
  }
  .predict-jumbo .contact-photos .first-row, .predict-jumbo .contact-photos .second-row {
    flex-flow: row wrap;
  }
  .contact-photos #person3 {
    margin-left: 50%;
  }
  #person3 .smaller-fpo {
    left: 50%;
  }
  .img-descr {
    line-height: 0.7;
    width: 150px;
  }
  .img-descr .descr-top {
    margin-bottom: 15px;
    margin-top: 5px;
    line-height: 1;
    font-size: 12px;
  }
  .second-set {
    margin-top: 200px;
    height: 200px;
  }
  .second-set .fpo-header {
    visibility: hidden;
  }
  .third-set {
    margin-top: 0;
  }
  .bigger-container {
    height: 850px !important;
  }
  .quote-wrapper {
    margin-top: 80px;
  }
  .quote {
    font-size: 15px;
  }
  .quote-ref {
    margin-top: -260px !important;
  }
  .jumbo-descr {
    padding-top: 230px;
    position: relative;
  }
  .quote-ref .hidden-quote-ref {
    display: block;
    font-size: 12px;
  }
  .quote-ref .name-quote-ref {
    padding-bottom: 10px;
    font-family: "ambroise-francois-std";
    text-transform: uppercase;
    transform: scale(1,3);
    -webkit-transform: scale(1,2);
  }
  .quote-ref hr.purple {
    width: 100%;
  }
  .readmore-content, .btn-area .read-less {
    opacity: 0;
  }
  .white-jumbo {
    /*height: 950px;*/
    height: 1300px;
  }
  .more-athena h1 {
    font-size: 15px !important;
  }
  .white-jumbo .more-athena-imgs {
    display: flex;
    flex-direction: column !important;
  }
  .white-jumbo .more-athena-imgs .img-section{
    display: flex;
    flex-direction: column;
  }
  .white-jumbo .more-athena-imgs .img-section img {
    height: 200px;
    width: 200px;
  }
  .white-jumbo .more-athena-imgs .img-section .img-legend {
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
    font-family: "ambroise-francois-std";
    text-transform: uppercase;
  }
  .white-jumbo .more-athena-imgs .img-section .img-legend .first{
    width: 200px;
    line-height: 1.1;
    font-size: 12px;
    transform: scale(1,3);
    -webkit-transform: scale(1,2);
  }
  .white-jumbo .more-athena-imgs .img-section .img-legend .second{
    font-size: 12px;
    width: 200px;
    text-align: justify;
  }
  .white-jumbo .more-athena-imgs .img-section .img-legend .third{
    font-size: 12px;
  }
  .white-jumbo .btn-area {
    margin-left: 35%;
  }
  footer {
    height: 150px;
    padding: 5%;
  }
  footer .footer-predict {
    margin-top: 3%;
    font-size: 12px;
    font-weight: normal;
  }
  footer .footer-links {
    margin-top: 5%;
    margin-bottom: 0;
  }
  footer .footer-note {
    width: 80%;
    line-height: 1.4;
  }

}


/* very small mobile (except iphone5) */

@media screen and (max-width: 375px){
  .grey-set, white-set {
    height: 700px !important;
  }
  .bigger-container {
    height: 900px !important;
  }
  .predict-jumbo .contact-photos .first-row {
    margin-left: 4%;
  }
  .img-descr .descr-top {
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .predict .predict-content {
    margin-top: 500px;
  }
  .quote-wrapper {
    margin-top: 87px;
  }
}
